nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  div {
    display: flex;
    p {
      font-size: 18px;
    }
    svg {
      margin-left: 6px;
      margin-top: 6px;
    }
  }

  .nav__snap {
    font-size: 34px;
    font-weight: bold;
    color: black;
  }

  .nav__login {
    grid-column: 11 / span 1;
    text-align: center;
  }
  .nav__register {
    text-align: center;
    padding: 0px 16px;

    p {
      border: 2px solid hsl(0, 0%, 41%);
      padding: 12px;
      border-radius: 10px;
    }
  }
}
