nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  p {
    font-size: 18px;
  }

  .nav__snap {
    font-size: 34px;
    font-weight: bold;
    color: black;
  }

  .nav__login {
    grid-column: 11 / span 1;
    text-align: center;
  }
  .nav__register {
    text-align: center;
    padding: 10px;

    p {
      border: 2px solid hsl(0, 0%, 41%);
      padding: 14px;
      border-radius: 10px;
    }
  }
}
